.identifier {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 6px;
  }

  &--green::before {
    background-color: #5ED700;
  }
  &--yellow::before {
    background-color: #F9C800;
  }
}