body {
	font-family: $main-font;
	font-weight: 300;
	font-style: normal;
	text-rendering: optimizeLegibility;
	color: $font-color-main;
	background-color: $silver-normal;
}

a {
	text-decoration: none;
}

input,
button,
select,
textarea {
	font-family: $main-font;
	color: $font-color-main;
}
input,
textarea,
select {
	appearance: none;
	border-radius: 0;
	background-color: $u-white;
}

.main {
    width: 100%;
    max-width: $desctop-width;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.relative {
  position: relative;
}

.pt-25 {
  padding-top: 25px;
}
.pl-30 {
  padding-left: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-5 {
  margin-left: 5px;
}
.mr-10 {
  margin-right: 10px !important;
}
.grow-1 {
  flex-grow: 1;
}
.shrink-0 {
  flex-shrink: 0;
}