.admin-page {
  .custom-select .input:first-child input+.text {
    padding: 9px 15px;
  }
  .cart-order {
    padding: 0;
  }
  .shipping-top {
    padding: 30px 35px 40px;
  }
  .shipping-content {
    padding-bottom: 20px;
  }
  .shipping-nav {
    margin: -45px 0 0;

    &__item {
      flex-basis: calc(50% - 8px);
    }
    &__link {
      padding-bottom: 10px;
      font-size: 16px;
    }
  }
  .container__redemption {
    margin-bottom: 10px;
  }
  .redemption-order__item {
    padding: 0 20px;
  }
  .marker {
    background: none;
    border: 0;
    &:disabled {
      opacity: .4;
      &:hover {
        cursor: default;
        svg {
          fill: #333;
        }
      }
    }
  }
  .admin_tab {
    outline: none;
    cursor: pointer;
  }
  .admin_content {
    display: none;
    &.active {
      display: block;
    }
  }
  textarea.input {
    height: 90px;
  }
  .btn--arrow {
    margin-left: auto;
  }
  .additional-info {
    .input {
      background-color: #fff;
    }
    &__top {
      background-color: $silver-min;
    }
    &__content {
      background-color: $silver-min;
      padding: 20px;
      margin-top: 10px;
    }
  }
  .table {
    .custom-select {
      width: 160px;

      &.disabled {
        &::after {
          display: none;
        }
        .input {
          border: 0;
        }
        .text {
          padding-left: 0!important;
        }
      }
    }
  }
}
.price-block {

  .price-input {
    width: 90px;
    margin: 0 10px;
  }
  .custom-select {
    width: 120px;
  }
}