.admin-page {
  .custom-select .input:first-child input+.text {
    padding: 7px 15px;
  }
  .cart-order {
    padding: 0;
  }
  .shipping-top {
    min-height: 100%;
    box-sizing: border-box;
    padding: 30px 35px 40px;
  }
  .shipping-content {
    padding-bottom: 20px;
  }
  .shipping-nav {
    margin: -52px 0 0;

    &__item {
      flex-basis: auto;
      flex-grow: 1;
      margin: 0 5px;
    }
    &__link {
      padding: 17px 10px 16px;
      font-size: 16px;
    }
  }
  .container__redemption {
    margin-bottom: 10px;
  }
  .redemption-order__item {
    padding: 0 20px;
  }
  .marker {
    background: none;
    border: 0;
    &:disabled {
      opacity: .4;
      &:hover {
        cursor: default;
        svg {
          fill: #333;
        }
      }
    }
  }
  .admin_tab {
    outline: none;
    cursor: pointer;
  }
  .admin_content {
    display: none;
    &.active {
      display: block;
    }
  }
  textarea.input {
    height: 90px;
  }
  .btn--arrow {
    margin-left: auto;
  }
  .additional-info {
    .input {
      background-color: #fff;
    }
    &__top {
      background-color: $silver-min;
    }
    &__content {
      background-color: $silver-min;
      padding: 20px;
      margin-top: 10px;
    }
  }
  .table {
    .custom-select {
      width: 160px;

      &.disabled {
        &::after {
          display: none;
        }
        .input {
          border: 0;
        }
        .text {
          padding-left: 0!important;
        }
      }
    }
  }
}
.price-block {

  .price-input {
    width: 90px;
    margin: 0 10px;
  }
  .custom-select {
    width: 120px;
  }
}
.storage_content {
  padding: 20px;
  border: 1px solid $color-33;
  border-radius: 3px;

  .custom-select {
    min-width: 195px;

    &--sm {
      min-width: 120px;
    }
  }
  .part {
    padding-top: 15px;
    &.pt-5 {
      padding-top: 5px;
    }
    li {
      padding: 5px 0;
    }

    .for-info {
      width: 100px;
      padding: 5px 15px;
      text-align: right;
      font-weight: 700;
    }
  }
}

.not-storage_content {
  padding-top: 30px;
  img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto 20px;
  }
}