.list-count {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  background-color: $silver-normal;
  margin-right: 20px;
  font-size: 20px;

  &--small {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
  }
}