.insurance {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $silver-normal;
  padding: 14px 32px 14px 20px;
  margin: 5px 0 30px;

  &__content {
    display: flex;
    align-items: center;

    .input {
      width: 80px;
      height: 42px;
      padding: 0 5px;
      display: inline-block;
      margin: 0 5px 0 10px;

      &:disabled {
        width: 42px;
        text-align: center;
        background-color: $silver-normal;

        &:hover {
          border-color: $silver-big;
        }
      }
    }
  }
  .helper svg {
    vertical-align: middle;
  }

  @media (max-width: 576px) {
    flex-direction: column;

    &__content {
      margin-bottom: 10px;
    }
  }
}