.insurance {
  display: flex;
  align-items: center;
  background-color: $silver-normal;
  padding: 13px 10px;
  margin: 15px 0;

  &__content {
    display: flex;
    align-items: center;
    margin: 0 10px;

    .input {
      width: 60px;
      height: 25px;
      padding: 0 5px;
      display: inline-block;
      margin: 0 5px 0 10px;

      &:disabled {
        width: 25px;
        text-align: center;
        background-color: $silver-normal;

        &:hover {
          border-color: $silver-big;
        }
      }
    }
  }

  @media (max-width: 576px) {
    flex-direction: column;

    &__content {
      margin-bottom: 10px;
    }
  }
}