.methods {
  padding: 22px 0;
  border-bottom: 1px solid $silver-big;
  margin-bottom: 28px;

  &__item {
    position: relative;

    &:hover .checkbox span {
      &::after {
        opacity: .3;
      }
    }

    .input-hide:not(:disabled):checked + .methods__label {
      border-color: #333;
      .checkbox span {
        &::before {
          border-color: #333;
        }
        &::after {
          opacity: 1;
        }
      }

      strong {
        font-weight: 700;
      }

      input::-webkit-input-placeholder {
        opacity: 1;
      }
      input:-ms-input-placeholder {
        opacity: 1;
      }
      input::placeholder {
        opacity: 1;
      }

      &.custom-transport {
        color: #333;

        svg {
          opacity: 1;
        }
      }
    }

    .input-hide:not(:disabled) + .methods__label {
      border-color: $silver-big;
      color: #333;
      
      &.custom-transport {
        color: $font-color-silver;

        svg {
          opacity: .45;
        }
      }

      .methods__days {
        color: #333;
      }
      .icon,
      svg {
        opacity: 1;
      }
      
      &:hover {
        border-color: #333;
      }
    }

    .input-hide:disabled + .methods__label {
      color: $silver-big;
      border-color: $silver-big;
      user-select: none;
      font-weight: 300;

      .checkbox span::after {
        display: none;
      }
      .methods__icon--sm {
        opacity: .2;
      }
      .helper svg {
        opacity: .4;
      }
      .helper .tooltip-content {
        display: none;
      }
      .tooltip-content {
        left: auto;
        top: 0;
        right: 0;
        color: $font-color-main;
        width: 230px;
      }
      &:hover .tooltip-content {
        opacity: 1;
        z-index: 9;
        transition: .2s;
      }
    }

    .icon {
      width: 77px;
      text-align: center;
      opacity: .3;

      img {
        max-width: 100%;
        vertical-align: middle;
      }
    }
  }

  &__label {
    padding: 5px 20px 5px 0;
    border: 1px solid $font-color-silver;
    color: $font-color-silver;
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 52px;
    box-sizing: border-box;
    cursor: pointer;

    strong {
      font-weight: 400;
    }
  }
  &__icon--sm {
    width: 52px;
    text-align: center;
  }
  &__title {
    position: relative;
    flex-grow: 1;
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
    padding-right: 10px;

    .tooltip-content {
      left: 100%;
      top: -50px;
      max-width: 180px;
      text-transform: capitalize;
    }

    svg:hover + .tooltip-content {
      opacity: 1;
      z-index: 99;
    }
  }
  .checked &__title {
    font-weight: 700;
  }
  &__price {
    position: relative;
    width: 15%;
    text-align: right;
    margin-right: 8%;
    flex-shrink: 0;

    svg {
      opacity: .4;
    }

    .tooltip-content {
      left: 25px;
      top: 95%;
    }

    &:hover .tooltip-content {
      opacity: 1;
      z-index: 99;
    }
  }
  &__comment {
    .input {
      width: 100%;
      height: 52px;
    }
    .text {
      color: $font-color-silver;
      font-size: 16px;
      line-height: 1;
      margin-bottom: 5px;
    }
    svg {
      opacity: 1;
    }
    .info-text {
      opacity: .3;
    }
  }
  &__days {
    width: 25%;
    font-weight: 300;
    flex-shrink: 0;
    color: $font-color-silver;

    svg {
      margin-right: 5px;
      vertical-align: top;
      opacity: .3;
    }
  }
  &__disabled-msg {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid rgba($font-color-silver, .5);
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    z-index: -9;
    opacity: 0;
  }

  @media screen and (max-width: 991px) {
    &__price {
      .tooltip-content {
        left: auto;
        right: -10px;
        top: 100%;
      }
    }
    &__title {
      font-size: 14px;
    }
  }
}



.custom-transport {
  display: flex;
  flex-wrap: wrap;
  padding: 18px 25px 15px;

  .text--big {
    font-weight: 400;
    padding-left: 30px;
    padding-right: 10px;
    line-height: 1;

    @media screen and (max-width: $tablet-width) {
      padding-left: 10px;
    }
  }

  .methods__comment {
    margin-top: 15px;
    width: 100%;
  }

  .input {
    margin-left: 0;
  }

}