.methods {
  padding: 20px 0;
  border-bottom: 1px solid $silver-big;

  &__item {
    padding: 5px 20px 5px 13px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 52px;
    box-sizing: border-box;
    font-weight: 700;

    &.unchecked {
      color: $font-color-silver;
      border-color: $font-color-silver;
      user-select: none;
      font-weight: 300;

      svg {
        opacity: .3;
      }
      .helper:hover:after {
        display: none;
      }
    }

    &.disabled {
      color: $silver-big;
      border-color: $silver-big;
      user-select: none;
      font-weight: 300;

      svg {
        opacity: .1;
      }
      .helper:hover:after {
        display: none;
      }
    }
    .icon {
      width: 70px;
      text-align: center;
      margin-left: -13px;
    }
    .image {
      width: 55px;
      text-align: center;
      margin-left: -3px;
      margin-right: 10px;

      img {
        max-width: 100%;
        vertical-align: middle;
      }
    }

    &:hover {
      .checkbox input:not(:disabled):not(:checked) + span:after {
        opacity: .3;
      }
    }
  }
  &__icon {
    margin-right: 15px;
  }
  &__title {
    flex-grow: 1;
    line-height: 1;
    font-size: 18px;
    font-weight: 400;
    padding-right: 5px;
  }
  .checked &__title {
    font-weight: 700;
  }
  &__price {
    width: 15%;
    flex-shrink: 0;
  }
  &__comment {
    .input {
      width: 100%;
      height: 52px;
    }
    .text {
      color: $font-color-silver;
      font-size: 16px;
      line-height: 1;
      margin-bottom: 5px;
    }
    .info-text {
      opacity: .3;
    }
  }
  &__days {
    width: 30%;
    font-weight: 300;
    flex-shrink: 0;

    svg {
      margin-right: 5px;
      vertical-align: top;
    }
  }
}