.shipping-top {
  background-color: $u-white;
  padding: 30px 30px 90px;
  margin-bottom: 11px;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .text {
    line-height: 1.35;
  }

  .container__order {
    margin-top: 0;
  }
}

.delivery-img {
  width: 48px;
  height: 53px;
  margin-right: 14px;
}

.shipping-nav {
  position: relative;
  margin: -64px 0 0;
  padding: 0 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  z-index: 1;

  &__item {
    flex-basis: 31%;
    display: flex;
  }

  &__link {
    display: block;
    width: 100%;
    padding: 15px 10px 9px;
    background-color: $silver-normal;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: $silver-big;
    border: 1px solid $silver-big;
    line-height: 1.1;

    &:hover {
      color: inherit;
      background-color: $u-white;
    }

    &.active {
      color: inherit;
      font-weight: 700;
      background-color: $u-white;
      border-bottom-color: $u-white;
    }
  }

  @media screen and (max-width: 1229px) {
    padding: 0 10px;

    &__link {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 576px) {
    margin: -44px 0 0;

    &__link {
      font-size: 14px;
      padding: 10px 5px;
    }
  }
}

.shipping-content {
  background-color: $u-white;
  padding: 22px 30px 50px;
  border: 1px solid $silver-big;
  margin-top: -1px;

  @media screen and (max-width: 1229px) {
    padding: 20px 15px 40px;
  }

  .helper:after,
  .helper:hover:after {
    display: none;
  }
}

.orders-slider {
  position: relative;
  padding: 0 30px;
  margin: 22px 0 30px;
  display: flex;
  overflow: auto;

  ///* width */
  &::-webkit-scrollbar {
    display: none;
  }

  ///* Track */
  &::-webkit-scrollbar-track {

  }

  ///* Handle */
  &::-webkit-scrollbar-thumb {

  }

  ///* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {

  }

  .identifier {
    margin-bottom: 25px;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 5;
    border: 0;
    background-color: rgba(255, 255, 255, .8);
    outline: none;
    padding: 0;
    width: 50px;
    cursor: pointer;

    &:disabled {
      cursor: default;
      background-color: rgba(255, 255, 255, .4);

      svg {
        fill: $font-color-silver;
      }
    }

    &:not(:disabled):hover {
      background-color: rgba(255, 255, 255, 1);
    }

    &--left {
      left: 0;
      transform: rotate(180deg);
      align-items: flex-end;
    }

    &--right {
      right: 0;
      text-align: right;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 295px;
    min-width: 295px;
    padding: 25px 20px;
    margin: 0 5px;
    border: 1px solid #333;
    border-radius: 5px;
    box-sizing: border-box;

    &:not(.checked) {
      color: $font-color-silver;
      border-color: $font-color-silver;

      .semicircle {
        border-color: $font-color-silver;
      }
    }

    @media screen and (max-width: 576px) {
      max-width: 250px;
      min-width: 250px;
    }
  }
}

.addresses-slider {

  .orders-slider__item {
    max-width: 255px;
    min-width: 255px;
    padding: 15px 15px 30px 20px;
  }
  .orders-slider__btn {

    &--right {
      justify-content: flex-start;
      padding-top: 90px;
    }
    &--left {
      justify-content: flex-end;
      padding-bottom: 90px;
    }
  }

  .identifier {
    margin-bottom: 0;
    margin-right: 6px;
  }

  .address {
    flex-grow: 1;
    padding: 10px 0 20px;

    .text {
      line-height: 1.6;
    }
  }

  .stock-images {
    padding-top: 10px;

    .semicircle--right {
      right: -15px;
    }

    .checkbox input:checked + span::before {
      border-color: #000;
    }

    .checkbox input:not(:checked) + span {
      color: $font-color-silver;
    }

    .checkbox span {
      margin-top: -5px;
    }
  }
}

.orders-details {
  font-size: 14px;
  border-top: 1px solid $silver-big;
  flex-grow: 1;

  &__title {
    text-align: center;
    color: $font-color-silver;
  }
}

.details-list {
  padding-bottom: 20px;

  &__item {
    padding: 5px;

    &:nth-child(even) {
      background-color: $silver-normal;
    }
  }
}

.stock-images {
  position: relative;
  padding-top: 25px;
  border-top: 1px solid $silver-big;

  &__list {
    position: relative;
    display: flex;
    overflow: hidden;
  }

  &__btn {
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, .9);
    z-index: 3;
    outline: none;

    &:not(:disabled):hover {
      background-color: #fff;
      cursor: pointer;
    }

    &:disabled {
      background-color: rgba(255, 255, 255, .5);

      svg {
        fill: $font-color-silver;
      }
    }

    &--right {
      right: 0;
    }

    &--left {
      left: 0;
      transform: rotate(180deg);
    }
  }

  &__item {
    position: relative;
    width: 47px;
    height: 47px;
    margin: 0 3px;
    border: 1px solid transparent;
    flex-shrink: 0;

    &:hover {
      border-color: $font-color-main;

      .stock-images__zoom {
        background-color: rgba(255, 255, 255, .5);
        opacity: 1;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__zoom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: 0;
    opacity: 0;
    cursor: zoom-in;
  }
}

.info-icon {
  width: 12px;
  height: 14px;
  margin-left: 7px;
}

.my-addresses-container {
  border-bottom: 1px solid $silver-big;
  padding: 30px 0 20px;
}

.create-address-container {
  padding: 20px 0;
  border-bottom: 1px solid $silver-big;

  .input-hide + span {
    padding: 9px 15px!important;
  }

  .l-flex {
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .autocomplete-select,
  .tooltip-block,
  .input {
    width: calc(30% - 5px);

    &:first-child {
      width: calc(40% - 5px)
    }
  }

  .tooltip-block {
    padding-right: 0;
    margin-bottom: 0;

    .label__help {
      top: 10px;
      right: 10px;
    }

    .input {
      width: 100%;
    }

    svg {
      opacity: .4;
    }
  }

  .tooltip-content {
    width: 240px;
  }

  .checkbox {
    width: 48%;

    span::before {
      border-color: #333;
    }
  }

  .delivery-methods {
    display: flex;
    justify-content: space-between;

    .checkbox span {
      color: $font-color-silver;
      &::before {
        border-color: $font-color-silver;
      }
    }
    .checkbox input:checked + span {
      color: $font-color-main;
      &::before {
        border-color: #333;
      }
    }
  }

  @media (max-width: 576px) {
    .delivery-methods {
      flex-direction: column;
    }
    .checkbox {
      width: 90%;
    }
  }
}

.methods-delivery {

  &__text {
    margin: 12px 0 20px;
  }

  .input {
    margin-left: 5px;
    width: 130px;
    padding: 6px 10px;
  }

  .l-flex > svg {
    margin-right: 10px;
  }

  .filter-btn {
    background: none;
    border: 0;
    padding: 10px 0;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
    opacity: .5;

    &:hover,
    &.active {
      opacity: 1;
    }
  }
}

.delivery-formData {

  .custom-select {
    max-width: 130px;
  }

  .tooltip-content {
    width: 140px;
  }
}

@media screen and (max-width: 576px) {
  .delivery-formData {
    .custom-select {
      width: 100%;
      max-width: 100%;
      margin-top: 10px;
    }

    .mobile-wrap {
      .input {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
  }
}